
.category-hero{
    width:100%;
    /* padding:20px; */
    background:#f5f5f5;
}

.hero-overlay{
  /* max-width:var(--max-width); */
    margin:auto;
    /* border-radius:30px; */
    overflow:hidden;
    position:relative;
    background:
    linear-gradient(
        90deg,
        rgba(6,20,59,0.95) 0%,
        rgba(6,20,59,0.90) 40%,
        rgba(6,20,59,0.20) 100%
    ),
    url("../img/about001.png");

    background-size:cover;
    background-position:center;
}

/* MAIN CONTENT */

.hero-content{
    /* min-height:550px; */
    width:100%;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:flex-start;
    padding:80px;
    margin-top: 90px;
}

/* BREADCRUMB */

.breadcrumb{
    padding:12px 22px;
    border:1px solid rgba(255,255,255,0.3);
    border-radius:40px;
    backdrop-filter:blur(10px);
    margin-bottom:25px;
    font-family:var(--main-font);
    color:var(--white);
    font-size:15px;
    font-weight:500;
}

.breadcrumb a{
    text-decoration:none;
    color:var(--white);
    transition:0.3s;
}

.breadcrumb a:hover{
    color:var(--primary-orange);
}

.breadcrumb span{
    color:var(--primary-orange);
    margin-inline:8px;
}

/* HEADING */

.hero-content h1{
    font-size:70px;
    line-height:80px;
    font-family:var(--main-font);
    color:var(--white);
    font-weight:700;
    margin-bottom:20px;
}

.hero-content h1 span{
    color:var(--primary-orange);
}

/* DESCRIPTION */

.hero-content h4{
    width:650px;
    font-size:18px;
    line-height:32px;
    color:var(--text-gray);
    font-family:var(--main-font);
    font-weight:400;
    margin-bottom:40px;
}

/* COUNTER */

.about_counter{
    display:flex;
    gap:25px;
    flex-wrap:wrap;
}

.counter_box{
    width:170px;
    padding:22px 15px;
    border-radius:20px;
    background:rgba(255,255,255,0.08);
    backdrop-filter:blur(10px);
    border:1px solid rgba(255,255,255,0.1);
    transition:0.3s;
}

.counter_box:hover{
    transform:translateY(-5px);
    background:rgba(255,255,255,0.12);
}

.counter_box h2{
    font-size:35px;
    color:var(--primary-orange);
    font-family:var(--main-font);
    margin-bottom:5px;
}

.counter_box span{
    color:var(--white);
    font-size:15px;
    font-family:var(--main-font);
}

/* ========================= */
/* RESPONSIVE */
/* ========================= */

@media(max-width:991px){

    .hero-content{
        padding:50px 30px;
        min-height:auto;
    }

    .hero-content h1{
        font-size:48px;
        line-height:58px;
    }

    .hero-content h4{
        width:100%;
        font-size:16px;
        line-height:28px;
    }

    .about_counter{
        gap:15px;
    }

    .counter_box{
        width:calc(50% - 10px);
    }
}

@media(max-width:600px){

    .category-hero{
        padding:  0px;
    }

    .hero-content{
        padding:40px 20px;
    }

    .breadcrumb{
        font-size:13px;
        padding:10px 18px;
    }

    .hero-content h1{
        font-size:38px;
        line-height:48px;
    }

    .hero-content h4{
        font-size:15px;
        line-height:26px;
    }

    .counter_box{
        width:100%;
    }

    .counter_box h2{
        font-size:28px;
    }
}




/* Window showcase */
.window-showcase-section {
    width: 100%;
    padding: 110px 0 70px;
    /* background: #d9dbd8; */
}

.window-showcase-head {
    text-align: center;
    margin-bottom: 28px;
    padding: 0 20px;
}

.window-showcase-kicker {
    display: inline-block;
    color: var(--accent);
    font-size: 25px;
    font-weight: 700;
    text-transform: uppercase;
    position: relative;
}

.window-showcase-kicker::before {
    content: '';
    height: 10px;
    width: 100%;
    background-color: var(--navy);
    position: absolute;
    bottom: -10px;
    left: 0;
    -webkit-mask-image: url('data:image/svg+xml,<svg width="430" height="9" viewBox="0 0 430 9" preserveAspectRatio="none" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M429.017 0.5H40.5546C37.8036 0.5 36.4282 0.5 35.1536 0.942471C33.8791 1.38494 32.7995 2.23725 30.6403 3.94188L29.8597 4.55813C27.7006 6.26275 26.6209 7.11506 25.3464 7.55753C24.0719 8 22.6964 8 19.9454 8H1" stroke="%23D9D9D9" stroke-linecap="round"/></svg>');
    mask-image: url('data:image/svg+xml,<svg width="430" height="9" viewBox="0 0 430 9" preserveAspectRatio="none" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M429.017 0.5H40.5546C37.8036 0.5 36.4282 0.5 35.1536 0.942471C33.8791 1.38494 32.7995 2.23725 30.6403 3.94188L29.8597 4.55813C27.7006 6.26275 26.6209 7.11506 25.3464 7.55753C24.0719 8 22.6964 8 19.9454 8H1" stroke="%23D9D9D9" stroke-linecap="round"/></svg>');
    -webkit-mask-size: auto;
    mask-size: auto;
    -webkit-mask-position: left bottom;
    mask-position: left bottom;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
}

.window-showcase-title {
    margin-top: 18px;
    font-size: 42px;
    color: var(--navy);
}

.window-showcase-grid {
    display: flex;
    width: 100%;
    min-height: 720px;
    height: 100%;
    overflow: hidden;
}

.window-showcase-card {
    position: relative;
    flex: 1%;
    min-width: 0;
    min-height: 720px;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    transform: translateZ(0);
    /* transition: flex 0.7s cubic-bezier(0.22, 1, 0.36, 1), filter 0.5s ease; */
     transition: flex 0.8s cubic-bezier(0.22, 1, 0.36, 1),
                transform 0.6s ease,
                filter 0.5s ease;
}

.window-showcase-card::before {
    content: '';
    position: absolute;
    inset: 0;
    /* background: linear-gradient(180deg, rgba(60, 42, 27, 0.18) 0%, rgba(28, 20, 14, 0.78) 100%); */
     /* background: linear-gradient(
        180deg,
        rgba(90, 60, 35, 0.25) 0%,
        rgba(40, 25, 15, 0.85) 100%
    ); */

    background: rgba(88, 61, 24, 1);
    opacity: 0.4;
}

.window-showcase-overlay {
    position: absolute;
    inset: 0;
    background: transparent;
}

/* .window-showcase-card + .window-showcase-card {
    border-left: 2px solid rgba(255, 255, 255, 0.18);
} */

.window-showcase-rail {
    position: absolute;
    inset: 0 auto 0 0;
    width: 100%;
    display: flex;
    align-items: flex-end;
    padding: 40px 58px;
    z-index: 2;
    transition: transform 0.6s cubic-bezier(0.22, 1, 0.36, 1);
}

.window-showcase-label {
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    color: #fff;
    font-size: clamp(28px, 2.9vw, 56px);
    letter-spacing: 2px;
    line-height: 1.2;
    border-left: 2px solid gainsboro;
    /* width: 80px; */
    height: 50px;
    text-transform: uppercase;
    white-space: nowrap;
    position: relative;
    transition: opacity 0.35s ease, letter-spacing 0.35s ease;
}

.window-showcase-label::after {
    content: '';
    width: 2px;
    height: 90px;
    /* background: rgba(255, 255, 255, 0.92); */
    display: block;
    margin-top: 16px;
}


.window-showcase-card:hover .window-showcase-label,
.window-showcase-card.is-active {
height: auto;
}



.window-showcase-content {
    position: absolute;
    left: 155px;
    right: 36px;
    bottom: 44px;
    z-index: 3;
    max-width: 420px;
    color: #fff;
    opacity: 0;
    transform: translateY(34px);
 transition: all 0.5s cubic-bezier(0.22, 1, 0.36, 1);
}

.window-showcase-content h3 {
    font-size: 30px;
    margin-bottom: 16px;
    text-transform: uppercase;
    display: none;
}

/* .window-showcase-label:hover{
    text-decoration: underline #efeded;
} */

.window-showcase-content p {
    font-family: var(--body-font);
    font-size: 17px;
    line-height: 1.2;
    margin-bottom: 18px;
    opacity: 0;
    transform: translateY(100px);
    transition: opacity 0.3s ease 0.12s, transform 0.42s cubic-bezier(0.22, 1, 0.36, 1) 0.12s;
}

.window-showcase-link {
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 4px;
    text-transform: uppercase;
    /* border-bottom: 2px solid rgba(255, 255, 255, 0.7); */
    padding-bottom: 6px;
}

.window-showcase-link:hover{
    text-decoration: underline #005fb2;
    color: #005fb2;

}

.window-showcase-card:hover,
.window-showcase-card.is-active {
       flex: 1;
    /* min-width: 30%; */
    
    cursor: pointer;
}

.window-showcase-grid.is-interacting .window-showcase-card:not(.is-active) {
   flex: 0.6;
    /* filter: brightness(0.6); */
}

.window-showcase-card:hover .window-showcase-overlay,
.window-showcase-card.is-active .window-showcase-overlay {
    opacity: 1;
    background: transparent;
}

.window-showcase-card:hover::before,
.window-showcase-card.is-active::before {
     opacity: 0.4;
}

.window-showcase-card:hover .window-showcase-content,
.window-showcase-card.is-active .window-showcase-content {
    opacity: 1;
    transform: translateY(0);
    transition-delay: 0s;
}

.window-showcase-card:hover .window-showcase-content p,
.window-showcase-card.is-active .window-showcase-content p {
    opacity: 1;
    transform: translateY(0);
}

.window-showcase-card:hover .window-showcase-rail,
.window-showcase-card.is-active .window-showcase-rail {
    transform: translateX(10px);
}

.window-showcase-grid.is-interacting .window-showcase-card:not(.is-active) .window-showcase-content {
    opacity: 0;
    transform: translateY(40px);
    transition-delay: 0s;
}

.window-showcase-grid.is-interacting .window-showcase-card:not(.is-active) .window-showcase-content p {
    opacity: 0;
    transform: translateY(18px);
    transition-delay: 0s;
}

.window-showcase-grid.is-interacting .window-showcase-card:not(.is-active) .window-showcase-label {
    opacity: 0.9;
    letter-spacing: 1px;
}


@media screen and (max-width: 800px){


.window-showcase-section {
    padding: 80px 0 50px;
}

.window-showcase-title {
    font-size: 32px;
}

.window-showcase-grid {
    flex-direction: column;
    min-height: auto;
}

.window-showcase-card,
.window-showcase-card:hover,
.window-showcase-card.is-active {
    min-height: 260px;
    flex: 1 1 auto;
    filter: none;
}

.window-showcase-rail {
    align-items: center;
    padding: 24px 20px;
    transform: none !important;
}

.window-showcase-label {
    writing-mode: horizontal-tb;
    transform: none;
    font-size: 20px;
    /* border-bottom: 2px solid gainsboro; */
    border: none;
    width: 80px;
    height: unset;
    border-right: unset;
}

.window-showcase-label::after {
    width: 90px;
    height: 2px;
    margin-top: 12px;
}

.window-showcase-content {
    left: 24px;
    right: 24px;
    bottom: 28px;
    opacity: 1;
    transform: none;
    transition-delay: 0s;
}

.window-showcase-content h3 {
    font-size: 22px;
}

.window-showcase-content p {
    font-size: 14px;
    opacity: 1;
    transform: unset;
    /* line-height: 1.6; */
}


.window-showcase-card:hover, .window-showcase-card.is-active
 {
    width: 100%;
    cursor: pointer;
}

}