*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.contact_header{
    width: 100%;
}

.banner_contact{
    max-width: var(--max-width);
    background-image: url("../img/contact.png");
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-position: right;
    background-size: cover;
    max-width: var( --max-width);
    margin-inline: auto;
    padding: 100px;
}
.banner_contact h1{
    font-size: 30px;
    color: var(--primary-orange);
    font-family: var(--main-font);
}
.banner_contact p{
    font-size: 30px;
    font-family: var(--main-font);
    color: white;
    margin-top: 10px;
    padding: 10px;
    border: 1px solid var(--primary-orange);
    border-radius: 20px;
    cursor: pointer;
}

.banner_contact p a{
    font-size: 30px;
    font-family: var(--main-font);
    color: white;
    margin-top: 10px;
    padding: 10px;
   text-decoration: none;
    border-radius: 20px;
    cursor: pointer;
}

.banner_contact p a:hover{
    text-decoration: underline var(--primary-orange);
    border: none;
    padding: 10px;
    color: white;
    border-radius: 20px;
    transition: all 0.1s ease-in-out;
}   
.contact_address{
    width: 100%;
    padding: 5%;
}
.box_section{
    max-width: var(--max-width);
    margin-inline: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px; 
}
.box_one{
    height: 250px;
    width: 350px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #fff8f2;
    border-radius: 20px;
    border: none;
}
.icon_box{
    height: 70px;
    width: 70px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var( --secondary-clr );
    border-radius: 10px;
    border: none;
}
.icon_box i{
    font-size: 30px;
    color: white;
}
.box_section h2{
    font-size: 20px;
    font-weight: 700;
    font-family: var(--main-font);
    margin-top: 10px;
}
.box_section p{
    font-size: 18px;
    font-family: var(--main-font);
    color: grey;
    font-weight: 300;
    margin-top: 10px;
    text-align: center;
}
.box_two{
    height: 250px;
    width: 350px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #17342f;
    border-radius: 10px;
    border: none;
}
.icon_two{
    height: 70px;
    width: 70px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var( --primary-orange );
    border-radius: 20px;
    border: none;
}
.icon_two i{
    font-size: 30px;
    color: white;
}
.heading_two{
    font-size: 20px;
    font-weight: 700;
    font-family: var(--main-font);
    margin-top: 10px;
    color: white;
}
.paragrph_two{
    font-size: 18px;
    font-family: var(--main-font);
    color: whitesmoke;
    font-weight: 500;
    margin-top: 10px;
    text-align: center;
}
.box_three{
     height: 250px;
    width: 350px;
    border: 1px solid rgba(110, 107, 107, 0.194);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    border-radius: 10px;
}
.icon_three{
    height: 70px;
    width: 70px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var( --secondary-clr );
    border-radius: 20px;
    border: none;
}
.icon_three i{
    font-size: 30px;
    color: white;
}
.heading_three{
    font-size: 20px;
    font-weight: 700;
    font-family: var(--main-font);
    margin-top: 10px;
    color: black;
}
.paragrph_three{
    font-size: 18px;
    font-family: var(--main-font);
    color: whitesmoke;
    font-weight: 500;
    margin-top: 10px;
    text-align: center;
}
.map_section{
    width: 100%;
    height: 600px;
    max-width: var(--max-width);
    margin-inline: auto;
    position: relative;
    
}
.map_section iframe{
    width: 100%;
    height: 100%;
}
.contact_form{
    width: 45%;
    background-color: white;
    height: auto;
    border: 1px solid rgba(74, 70, 70, 0.057) ;
    max-width: var(--max-width);
    margin-inline: auto;
    padding: 20px;
    border-radius: 20px;
    position: absolute;
    right: 40px;
    bottom: -80px;
}
.contact_form h1{
    font-size: 30px;
    font-family: var(--main-font);
    font-weight: 700;
}
.name_box input {
    width: 100%;
    border: 1px solid black;
    font-size: 15px;
    padding: 20px;
    border-radius: 10px;
    margin-top: 15px;
    background-color: #f7f4ef;
    border: none;
}
.phone_box input{
    width: 100%;
    border: 1px solid black;
    font-size: 15px;
    padding: 20px;
    border-radius: 10px;
    margin-top: 15px;
    background-color: #f7f4ef;
    border: none;
}
.email_section input{
    width: 100%;
    border: 1px solid black;
    font-size: 15px;
    padding: 20px;
    border-radius: 10px;
    margin-top: 15px;
    background-color: #f7f4ef;
    border: none;
}

.combo_map_contact{
    padding-bottom: 10%;
    height: 100%;
}
.subject-box input{
    width: 100%;
    border: 1px solid black;
    font-size: 15px;
    padding: 20px;
    border-radius: 10px;
    margin-top: 15px;
    background-color: #f7f4ef;
    border: none;
}
.msg_box input{
    width: 100%;
    border: 1px solid black;
    font-size: 15px;
    padding: 20px;
    border-radius: 10px;
    margin-top: 15px;
    background-color: #f7f4ef;
    line-height: 80px;
    border: none;
}
.contact_form button{
    margin-top: 25px;
    font-size: 20px;
    font-family: var(--main-font);
    height: 40px;
    width: 140px;
    color: white;
    background-color: var(--secondary-clr);
    border-radius: 20px;
    border: none;
    transition: all 0.4s ease-in-out;
}
.contact_form button:hover{
    background-color: var(--primary-orange);
    cursor: pointer;
}

.contact_certificate{
  width: 100%;
  max-width: var(--max-width);
  margin-inline: auto;
  margin-top: 100px;
}


@media screen and (max-width:500px) {
    .box_section {
        flex-direction: column;
    }
    .box_one {
    height: 300px;
    width: 100%;
    }
    .box_two {
    height: 300px;
    width: 100%;
    }
    .box_three{
     height: 300px;
     width: 100%;
    }
    .contact_form {
               right: 0px;
        width: 100%;
        height: 620px;
    
    }
    
.contact_certificate {
    margin-top: 350px;
}
.banner_contact p {
    font-size: 16px;
}

.banner_contact{
    height: 300px;
}
.banner_contact h1 {
    font-size: 18px;
}
}