.review-btn{
    background:#ff7a00;
    color:white;
    border:none;
    padding:14px 28px;
    border-radius:10px;
    cursor:pointer;
    font-weight:600;
}

.review-overlay{
    position:fixed;
    inset:0;
    background:rgba(0,0,0,.6);
    display:none;
    justify-content:center;
    align-items:center;
    z-index:99999;
    backdrop-filter:blur(6px);
}

.review-modal{
    width:420px;
    max-width:95%;
    background:#fff;
    border-radius:25px;
    padding:30px;
    position:relative;
    animation:popup .3s ease;
}

@keyframes popup{
    from{
        transform:translateY(40px);
        opacity:0;
    }
    to{
        transform:translateY(0);
        opacity:1;
    }
}

.close-btn{
    position:absolute;
    top:15px;
    right:20px;
    font-size:28px;
    cursor:pointer;
    color:#0d2d62;
    background-color: transparent;
    width: unset;
}

.review-header h2{
    color:#0d2d62;
    margin-bottom:5px;
}

.review-header p{
    color:#777;
    margin-bottom:25px;
}

.input-group{
    margin-bottom:18px;
}

.input-group input,
.input-group textarea{
    width:100%;
    padding:14px;
    border:1px solid #ddd;
    border-radius:12px;
    outline:none;
}

.input-group input:focus,
.input-group textarea:focus{
    border-color:#ff7a00;
}

.rating-box{
    display:flex;
    flex-direction:row-reverse;
    justify-content:flex-end;
    margin-bottom:20px;
}

.rating-box input{
    display:none;
}

.rating-box label{
    font-size:35px;
    color:#ddd;
    cursor:pointer;
    transition:.3s;
}

.rating-box input:checked ~ label,
.rating-box label:hover,
.rating-box label:hover ~ label{
    color:#ffb400;
}

.submit-review{
    width:100%;
    border:none;
    background:#ff7a00;
    color:white;
    padding:15px;
    border-radius:12px;
    font-size:16px;
    font-weight:600;
    cursor:pointer;
    transition:.3s;
}

.submit-review:hover{
    background:#e56f00;
}